@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    margin: 0;
	/* height: 100%;
	min-height: 100%; */
	/* background: linear-gradient(45deg, #37ecba, #72afd3);
	background-repeat: no-repeat;
	background-size: 100% */
}

